@model HomeViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorisationService
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Model.ImageName</p>
    @if (User.Identity.IsAuthenticated)
    {
<p>
    <a asp-controller="Home" asp-action="Logout">Logout</a>
    @if (User.IsInRole("Old"))
    {
        <span>Is Old</span>
    }
    @if (User.IsInRole("Young"))
    {
        <span>Is Young</span>
    }

    @if ((await AuthorisationService.AuthorizeAsync(User, "CanAccessRestricedItems")).Succeeded)
    {
        <span>Can access restricted items</span>
    }
</p>
    }
</div>
